.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
    text-decoration: none;
}


.auth-form {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 35px;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;	
  /*background: rgba(darken($primary,40%), 0.85);*/
}
.login {
  
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 290px;
  background: #fafafa;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  text-align: justify;	
}
.maxImage .MuiImageListItem-img {
	max-height: 35rem !important;
    max-width: 35rem !important;
	border-width: 20px !important;
}
.textFieldsInModal {
	padding: .2rem;
}
.uploadPhotoButton{
	padding: 1rem !important;
}
.css-1neoqyx {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/*.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	max-width: 330px !important;
}
.css-5xn5lu-MuiInputBase-root-MuiInput-root {
	max-width: 330px !important;
}*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.css-otp49b .MuiTextField-root	{
	max-width: 330px;
	
}
.MuiButton-contained{
	margin-left: 12px !important;	
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
.css-otp49b .MuiTextField-root	{
	max-width: 630px;
}
.css-ttrq8o-MuiGrid-root{
	margin-top: 20px;
	}	
}

@media (min-width:951px) and (max-width:1800px) {
.avatarHeader {
	margin-left: 55rem;	
}
}
@media (min-width:951px) and (max-width:1100px) {
.avatarHeader {
	margin-left: 38rem;	
	}
}
@media (min-width:851px) and (max-width:950px) {
.avatarHeader {
	margin-left: 33rem;	
	}
}
@media (min-width:701px) and (max-width:850px) {
.avatarHeader {
	margin-left: 30rem;	
	}
}
@media (min-width:451px) and (max-width:700px) {
.avatarHeader {
	margin-left: 20rem;	
}
}
@media (min-width:451px) and (max-width:600px) {
.avatarHeader {
	margin-left: 12rem;	
}
}
@media (min-width:100px) and (max-width:450px) {
.avatarHeader {
	margin-left: 0rem;	
}
.MuiTypography-h6 {
	margin-right: 0rem !important;
	padding-right: 0rem !important;
	line-height: 1 !important;
}	
}

.MuiTypography-h6 {
	margin-right: 1rem !important;
	padding-right: 1rem !important;
	line-height: 1 !important;
}
